[Unit]
Description=RAON Vending Machine Kiosk Application
Wants=graphical.target
After=network.target display-manager.service graphical.target

[Service]
Type=simple
User=raon
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/raon/.Xauthority"
WorkingDirectory=/home/raon/raon-vending-rpi4
ExecStart=/bin/bash /home/raon/raon-vending-rpi4/deploy/start-kiosk-wayland.sh
Restart=on-failure
RestartSec=10
KillMode=process
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical.target
